<ion-view title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
        <div class="item item-text-wrap">
            <h2>HSBC</h2>
            <p>£1,793.56</p>
        </div>
        <div class="item item-text-wrap">
            <span class="transaction-date">19 Dec 2014</span>
            <span class="transaction-desc">Salary, FT</span>
            <span class="transaction-amount">2,000.34</span>
        </div>
        <div class="item item-text-wrap">
            <span class="transaction-date">2 Jan 2015</span>
            <span class="transaction-desc">Credit card bill</span>
            <span class="transaction-amount">202.56</span>
        </div>
        <div class="item item-text-wrap">
            <span class="transaction-date">2 Jan 2015</span>
            <span class="transaction-desc">Rent</span>
            <span class="transaction-amount">730.00</span>
        </div>
    </div>
  </ion-content>
</ion-view>
